@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    /* background-color: black */
    scroll-behavior: smooth;
}


body::-webkit-scrollbar {
    display:none;
}

.home {
    /* background-color: rgb(0, 3, 51); */
    /* background-image: radial-gradient(circle, #031023, #121129, #220f2b, #320928, #400220); */
    background-image: linear-gradient(to bottom, #040035, #2f1442, #53254f, #743b5a, #925366);
    height: 85.8vh;
    z-index: 1000;
}

.home-image {
    background-image: url("./images/WorldTreeC.png");
    background-size: cover;
    height: 100vh;
    width: 50vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 15%;
    left: 27%;
    z-index: 1;
}

.Falling-leaves-1{
    position:absolute;
    height:30vh;
    width:35vw;
    left:35%;
    top:55%;
    z-index:0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Falling-leaves-2{
    position:absolute;
    height:30vh;
    width:35vw;
    left:40%;
    top:55%;
    z-index:0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



#d1 {
    background-color: pink;
    height:2px;
    width:2px;
    border-radius: 50%;
    position: relative;
    animation: falling 4s linear infinite;
    top:0;
}

#d2{
    background-color: pink;
    height:2px;
    width:2px;
    border-radius: 50%;
    position: relative;
    animation: falling 6s linear infinite;
    margin-top: 4%;
}

#d3{
    background-color: pink;
    height:2px;
    width:2px;
    border-radius: 50%;
    position: relative;
    z-index: -1;
    animation: falling 5s linear infinite;
}
#d4{
    background-color: pink;
    height:2px;
    width:2px;
    border-radius: 50%;
    position: relative;
    z-index: -1;
    animation: falling 6s linear infinite;
}
#d5{
    background-color: pink;
    height:2px;
    width:2px;
    border-radius: 50%;
    position: relative;
    z-index: -1;
    animation: falling 4s linear infinite;
}
#d6{
    background-color: pink;
    height:12px;
    width:12px;
    border-radius: 50%;
    position: relative;
    z-index: -1;
    animation: falling 6s linear infinite;
}
#d7{
    background-color: pink;
    height:2px;
    width:2px;
    border-radius: 50%;
    position: relative;
    z-index: -1;
    animation: falling 4s linear infinite;
}
#d8{
    background-color: pink;
    height:2px;
    width:2px;
    border-radius: 50%;
    position: relative;
    z-index: -1;
    animation: falling 7s linear infinite;
}
#d9{
    background-color: pink;
    height:2px;
    width:2px;
    border-radius: 50%;
    position: relative;
    z-index: -1;
    animation: falling 5s linear infinite;
}
#d10 {
    background-color: pink;
    height:2px;
    width:2px;
    border-radius: 50%;
    position: relative;
    z-index: -1;
    animation: falling 4s linear infinite;
}#d11 {
    background-color: pink;
    height:2px;
    width:2px;
    border-radius: 50%;
    position: relative;
    z-index: -1;
    animation: falling 6s linear infinite;
}#d12 {
    background-color: pink;
    height:2px;
    width:2px;
    border-radius: 50%;
    position: relative;
    z-index: -1;
    animation: falling 7s linear infinite;
}

#d13 {
    background-color: pink;
    height:2px;
    width:2px;
    border-radius: 50%;
    position: relative;
    z-index: -1;
    animation: falling 7s linear infinite;
}
#d14 {
    background-color: pink;
    height:2px;
    width:2px;
    border-radius: 50%;
    position: relative;
    z-index: -1;
    animation: falling 4.5s linear infinite;
}
#d14 {
    background-color: pink;
    height:2px;
    width:2px;
    border-radius: 50%;
    position: relative;
    z-index: -1;
    animation: falling 4s linear infinite;
}
#d15 {
    background-color: pink;
    height:2px;
    width:2px;
    border-radius: 50%;
    position: relative;
    z-index: -1;
    animation: falling 7s linear infinite;
}
#d16 {
    background-color: pink;
    height:2px;
    width:2px;
    border-radius: 50%;
    position: relative;
    z-index: -1;
    animation: falling 5s linear infinite;
}
#d17 {
    background-color: pink;
    height:2px;
    width:2px;
    border-radius: 50%;
    position: relative;
    z-index: -1;
    animation: falling 6s linear infinite;
}

@keyframes falling{
    0%{
        top:0;
    }
   
    100%{
        top:95%;
    }
}

.samvidh-logo {
    background-image: url("./images/samvid-main-logo.png");
    background-size: cover;
    height: 32vh;
    width: 35vw;
    margin: 0 auto;
    background-position: center center;
    display: flex;
    justify-content: center;
    position: absolute;
    /* z-index: 1; */
    top: 20%;
    /* left: 2.5%; */
}

.close{
    height: 15px;
    width: 15px;
    position: absolute;
    left: 88%;
    top: 4%;
    transition: all .15s ease-in-out;
    opacity: 2.5;
    z-index: 1000;
}

.close img{
    height: 15px;
    width: 15px 
}

.close:hover{
    scale:1.3;
    cursor:pointer;
    .close img{
        opacity:.5;
    }
}

.Events-preview{
    background-color: rgba(37, 10, 10, 0.2);
    height: 36vh;
    width: 38vh;
    position: absolute;
    left: 77%;
    top: 32vh;
    overflow: hidden;
    border-radius: 2vh;
}

.slider{
    height: 36vh;
    width: 38vh;
    margin: 0 0 0 0;
    display: flex;
    flex-direction: row;
    position: relative;
    -webkit-animation-name: slide_animation;
     animation-name: slide_animation;
    -webkit-animation-duration: 30s;
    animation-duration: 30s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    /* -webkit-animation-direction: alternate;
    animation-direction: alternate; */
    -webkit-animation-play-state: running;
    animation-play-state: running;
    /* animation-timing-function: steps(13); */
}

@keyframes slide_animation{
   
   0%{
    left:0vh;
   }
   0%{
    left:0vh;
   }
   8.3%{
    left:-38vh;
   }
   8.3%{
    left:-38vh;
   }
   16.6%{
    left:-76vh;
   }
   16.6%{
    left:-76vh;
   }
   24.9%{
    left:-114vh
   }
   24.9%{
    left:-114vh
   }
   33.2%{
    left:-152vh;
   }
   33.2%{
    left:-152vh;
   }
   41.5%{
    left:-190vh;
   }
   41.5%{
    left:-190vh;
   }
   49.8%{
    left:-228vh;
   }
   49.8%{
    left:-228vh;
   }
   58.1%{
    left:-266vh;
   }
   58.1%{
    left:-266vh;
   }
   66.4%{
    left:-304vh;
   }
   66.4%{
    left:-304vh;
   }
   74.7%{
    left:-342vh;
   }
   74.7%{
    left:-342vh;
   }
   83%{
    left:-380vh;
   }
   83%{
    left:-380vh;
   }
   91.3%{
    left:-418vh;
   }
   91.3%{
    left:-418vh;
   }
   100%{
    left:-454vh;
   }
   100%{
    left:-454vh;
   }

}
@-webkit-keyframes slide_animation{
    
}
.preview-container{
    height: 36vh;
    width: 38vh;
    position: relative;
    float: left;
}
/* .preview-container:after{
    width:100%;
    content:'';
    display:block;
    position:absolute;
    top:0;
    left:0;
    background: linear-gradient(to right, rgba(83, 37, 79, 1) 0%, rgba(255,255,255,0) 70%);
    height:100%;
} */

.Events-preview:after{
    width:100%;
    content:'';
    display:block;
    position:absolute;
    top:0;
    left:0;
    background: linear-gradient(to right, rgb(216, 87, 87) 0%, rgba(33, 15, 201, 0) 70%);
    height:100%;
    box-shadow: 10px 10px 10px 10px rgb(24, 1, 51);
}
.preview-container h1{
    position: absolute;
    left: 15%;
    top: 78%;
    transform: translateX(-15%);
    /* margin-bottom: 1.5vh; */
    font-family: "Raleway", sans-serif;
    font-size: 3.5vh;
    color: white;
}

/* .events-page, .events-page-for-mobile {
    margin: auto;
    overflow: auto;
    background: linear-gradient(315deg, rgb(66, 1, 62) 3%, rgb(9, 27, 46) 38%, rgb(45, 33, 218) 68%, rgb(161, 11, 11) 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
} */

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgba(77, 79, 134, 0.25);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-20%);
    }

    50% {
        transform: translateX(-40%);
    }

    75% {
        transform: translateX(-20%);
    }

    100% {
        transform: translateX(0);
    }
}


.events-page {
    background-image: linear-gradient(to bottom, #04021a, #1b0d26, #330e2e, #4c0b2d, #620b26);
    height: 300vh;
    z-index: -1;
    position: relative;
    font-family: "Raleway", sans-serif;
    /* display: none; */
}

.events-page h1 {
    position: absolute;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 10vh;
    top: 37%;
    padding: 0 4vw;
    color: gold;
}

/* =============================================================== */
.celebrity-night, .hackathon, .big-events, .happy-streets, .dance-compet, .sports, .big-events, .robowar, .music, .fine-arts {
    position: relative;
}

.celebrity-night p, .hackathon p, .music p, .happy-streets p, .fine-arts p, .dance-compet p, .sports p, .robowar p, .big-events p {
    position: absolute;
    left: 15%;
    top: 75%;
    transform: translateX(-15%);
    /* margin-bottom: 1.5vh; */
    font-size: 3.5vh;
    color: white;
}

.event-list-1 {
    top: 140vh;
    margin-left: 4%;
}

.event-list-2 {
    top: 190vh;
    margin-left: 15%;
}

.event-list-3 {
    top: 240vh;
    margin-left: 27%;
}

.event-list-1, .event-list-2, .event-list-3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
}

.event-list-1 .e, .event-list-2 .e, .event-list-3 .e{
    /* background-image: linear-gradient(to bottom, #2a3304, #033621, #003539, #083143, #2a2b3d); */
    background-color: rgba(37, 10, 10, 0.2);
    height: 42vh;
    width: 38vh;
    margin: 0 4vh;
    border-radius: 2vh;
    transition: 0.5s ease;
}

.event-list-1 .e:hover, .event-list-2 .e:hover, .event-list-3 .e:hover{
    transform: scale(1.03);
    cursor: pointer;
    box-shadow: -3vh 3vh 0 0.5vh rgba(0, 0, 0, 0.2);
}


/* div for images inside div's */
.event-images {
    background-image: linear-gradient(to bottom, #2a3304, #033621, #003539, #083143, #2a2b3d);;
    position: inherit;
    height: 36vh;
    width: 38vh;
    border-radius: 2vh;
}

.celebrity-night .event-images {
    background-image: url("./images/celebrity-night.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.7;
}

.hackathon .event-images {
    background-image: url("./images/hackathon.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.7;
}

.music .event-images {
    background-image: url("./images/music.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.7;
}

.happy-streets .event-images {
    background-image: url("./images/happy-streets.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.7;
}

.fine-arts .event-images {
    background-image: url("./images/fine-arts.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.7;
}

.dance-compet .event-images {
    background-image: url("./images/dance.jpeg");
    background-size: cover;
    background-position: center;
    opacity: 0.7;
}

.sports .event-images {
    background-image: url("./images/sports.jpg");
    background-position: center;
    background-size: cover;
    opacity: 0.7;
}

.robowar .event-images {
    background-image: url("./images/robowar.webp");
    background-size: cover;
    background-position: center;
    opacity: 0.7;
}


.big-events .event-images {
    background-image: url("./images/big-events.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.7;
}


.Image-1 .event-images {
    background-image: url("./images/IMG-20240217-WA0005.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.7;
}
.Image-2 .event-images {
    background-image: url("./images/IMG-20240217-WA0008.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.7;
}
.Image-3 .event-images {
    background-image: url("./images/IMG-20240217-WA0009.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.7;
}
.Image-4 .event-images {
    background-image: url("./images/IMG-20240217-WA0010.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.7;
}
.Image-5 .event-images {
    background-image: url("./images/IMG-20240217-WA0011.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.7;
}
.Image-6 .event-images {
    background-image: url("./images/IMG-20240217-WA0012.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.7;
}
.Image-7 .event-images {
    background-image: url("./images/IMG-20240217-WA0013.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.7;
}
.Image-8 .event-images {
    background-image: url("./images/IMG-20240217-WA0014.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.7;
}
.Image-9 .event-images {
    background-image: url("./images/IMG-20240217-WA0015.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.7;
}
.Image-10 .event-images {
    background-image: url("./images/IMG-20240217-WA0016.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.7;
}
.Image-11 .event-images {
    background-image: url("./images/IMG-20240217-WA0017.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.7;
}
.Image-12 .event-images {
    background-image: url("./images/IMG-20240217-WA0018.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.7;
}
.Image-13 .event-images {
    background-image: url("./images/IMG-20240217-WA0019.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.7;
}


.events-page-for-mobile {
    display: none;
}

/* ================================================================================================= */
/* ================================================================================================= */
/* ======================= R E S P O N S I V E N E S S    B E G I N S    H E R E =================== */
/* ================================================================================================= */
/* ================================================================================================= */


@media only screen and (max-width: 768px) {
    /* making events page disaply none to avoid any inturruption */
    .events-page {
        display: none;
    }

    .home {
        height: 81.5vh;
        width: 50vh;
    }

    .home-image {
        top: 50%;
        left: 50%; 
        transform: translateX(-50%);
        height: 50vh;
        width: 48vh;
    }

    .samvidh-logo {
        top: 20%;
        left: 6%;
        height: 20vh;
        width: 45vh;
    }

    .Events-preview {
        display: none;
    }

    /* THE EVENTS PAGE BEGINS HERE */
    .events-page-for-mobile {
        display: flex;
        background-image: linear-gradient(to top, #df98c1, #c388b7, #a579ac, #876ba0, #695d92, #555182, #424573, #2f3963, #242c50, #19203d, #0f142b, #02021b);
        position: relative;
        top: 71.5vh;
        height: 160vh;
        flex-direction: column;
    }

    .events-page-for-mobile h1 {
        font-size: 6vh;
        margin: 20vh auto;
        margin-bottom: -10vh;
        font-family: "Barlow Condensed", sans-serif;
        color: white;
    }

    .mobile-view-of-events {
        display: flex;
        flex-direction: column;
    }

    .event-row-1, .event-row-2, .event-row-3, .event-row-4{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 20vh 4vh 18vh 4vh;
        height: 3vh;
        width: 3vh;
        font-family: "Raleway", sans-serif;
    }

    .event-row-1 .e, .event-row-2 .e, .event-row-3 .e, .event-row-4 .e, .event-row-5 .e {
        display: flex;
        flex-direction: column;
        height: 20vh;
        width: 20vh;
        margin-right: 3vh;
    }

    .event-images {
        height : 20vh;
        width: 20vh;
    }

    .e p {
        font-size: 2vh;
        color: rgb(255, 255, 255);
        position: absolute;
        left: 15%;
        top: 80%;
    }

    .e:focus {
        transform: scale(1.1);
        cursor: pointer;
    }

    .event-row-5  {
        display: flex;
        justify-content: center;
        margin: 20vh 4vh 18vh 4vh;;
    }


    .Falling-leaves-1{
        height: 15vh;
        width: 75vw;
        left: 15%;
        top: 68%;
    }
    
    .Falling-leaves-2{
        height: 15vh;
        width: 75vw;
        left: 20%;
        top: 68%;
    }

}

