

@media screen and (max-width:600px){
    .scroll-animation-outer-frame{
        background-color: rgb(32, 12, 66);
        height: 240vh;
        width: 100%;
        border-top-left-radius: 4vh;
        border-top-right-radius: 4vh;
        margin: 1vh auto;
        margin-top: 2vh;
        position: relative;
        overflow: auto;
        top: 5vh !important;
    }

}