@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
body::-webkit-scrollbar {
  display: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Quicksand,sans-serif;
  color: white;
  text-decoration: none;
}
html,
body {
  width: 100%;
  scroll-behavior: smooth;
}
/* 
nav {
    height: 100px;
} */

#main {
  width: 100%;
  background-size: cover;
  background-blend-mode: hard-light;
  background-position: center;
  /* padding-inline: 4%; */
}

.sp_cat_bg_mob{
  display:none;
}

.navigation {
  height: 87.5vh;
}

#main .main-heading {
  padding: 10px 10px;
  font-size: 30px;
  background-color: #b58b62;
  box-shadow: -10px 10px 10px #14527e;
  border-radius: 10px;
  position: relative;
  top: -30rem;
  left: 2%;
  text-transform: uppercase;
  transform: skew(-15deg);
  width: 500px;
  text-align: center;
}

.circle {
  height: 15px;
  width: 15px;
  background-color: #000;
  border-radius: 50%;
  position: absolute;
}

.circle1 {
  top: 42%;
}
.circle2 {
  right: 13px;
  top: 42%;
}

.btn-class {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
#btn {
  font-size: 20px;
  padding: 15px 30px;
  border-radius: 10px;
  border: none;
  background-color: #e155d3;
  outline: none;
  font-weight: 600;
}

.sp_cat_container {
  /* background-image: linear-gradient(
    to right top,
    #c01d7a,
    #ac2988,
    #943493,
    #793d9b,
    #59439e,
    #4d42a1,
    #3d42a4,
    #2642a7,
    #343cae,
    #4533b3,
    #5726b7,
    #6909b8
  ); */
  background-image: url(Assests/cultural_bg.jpg);
  background-size: cover;
  background-position: center;
  padding-bottom: 7vh;
  padding-top: 03vh;
  width: 100vw;
}
.sp_cat_bg {
  position: absolute;
  width: 100vw;
  z-index: -2;
}
.sponsor_row {
  height: 20vh;
  margin-bottom: 28vh;
  margin-top: 4vh;
  width: 100vw;
  display: flex;

}
.sp_cat_title {
  font-family: Abril Fatface, serif;
  font-size: 4vw;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 8rem;
}

.sponsor_card {
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 39vh;
  text-decoration: none;
  width: 20vw;
  
}
.sponsor_img {
  align-items: center;
  display: flex;
  height: 35vh;
  width: 13.021vw;
  justify-content: center;
  transition: all 1s ease ;
}
.sponsor_img:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: all 1s;
}

.sponsor_img img {
  max-height: 35vh;
  max-width: 20vw;
  border-radius: 10px;
  box-shadow: -10px 10px 4px rgb(165, 46, 239);
  aspect-ratio: 4/3.8;
}

.sponsor_card, .sponsor_row {
  align-items: center;
  display: flex;
  justify-content: space-evenly;

}

.sponsor_name {
  font-size: 1.5vw;
  font-weight: 600;
  text-transform: uppercase;
  font-family: Quicksand,sans-serif;
}

.sponsor_name, .sponsor_tag {
  color: #bebebe;
  /* font-family: Anek Latin, sans-serif; */
  font-family: Quicksand,sans-serif;
  margin-top: 0.5vh;
  text-align: center;
}
.title-heading-events {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sp_cat_title {
  font-family: Abril Fatface, serif;
  font-size: 4vw;
  text-align: center;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: -10px 10px 5px rgb(198, 23, 242);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 10px 10p 5px black;
  font-weight: 700;
  font-family: "Quicksand", sans-serif;
  width: 550px;
}

.pre-show-heading {
  position: absolute;
  top: 36%;
  border-radius: 10px;
  font-family: "Courier New", Courier, monospace;
  left: 35%;
  font-size: 4rem;
  width: 500px;
  padding: 5px;
  text-align: center;
  color: #000;
  text-transform: uppercase;
}

.pre-shows {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 0vh;
  position: relative;
  top: -170px;
  text-align: center;
}
.preshow_name {
  margin-top: 1.5rem;
  font-size: 1.5rem;
  text-transform: uppercase;
}
.pre-show-heading {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: -10px 10px 5px rgb(198, 23, 242);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 10px 10p 5px black;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

.sp_cat_container_sports {
  background-image: url(Assests/sports_bg.jpg);
  background-size: cover;
  background-position: center;
  padding-bottom: 7vh;
}
.sports_heading{
 color: #000;
 box-shadow: -10px 10px 3px rgb(8, 8, 188);
}
.sponsor_name {
  color: #000;
  margin-top: 2rem;
  font-weight: 600;
  background-color: white;
}
/*Tech Section code*/

.sp_cat_container_tech {
  background-image: url(Assests/tech_bg.jpg);
  background-size: cover;
  background-position: center;
  padding-bottom: 5vh;
}

.tech_heading {
  color: white;
  
}
.tech_text {
  color: white;
  /* background-color:#14527e; */
  background-color: transparent;
}

.cultural_name {
  color: white;
  background-color: rgb(198, 23, 242);
};




