@media only screen and (max-width: 768px) {
    
    #main {
        padding-inline: 2%;
        height: auto ;
    }
    #main .main-heading {
        width: 44vh;
        left: 7%;
        top: -61vh;
        box-shadow: -10px 10px 10px #14527e;
    }

    #main .pre-show-heading {
        left: 15%;
        top: 45vh;
        font-size: 4vh;
        height: 7vh;
        width: 40vh;
        padding: 1vh;
        display: flex;
        text-align: center;
        justify-content: center;
    }

    .container img {
        height: 25vh;
        width: 50vh;
        left: 0;
        top: 0;
    }

    .preshow_name {
        font-size: 2vh;
    }

    .sponsor_img {
        height: 9vh;
        width: 15vh;
        font-size: 2vh;
    }

    .sponsor_img img {
        height: 10vh;
        gap: 1vh;
    }

    .pre-shows {
        position: relative;
        margin-left: 4vh;
    }

    .sp_cat_container {
        position: absolute;
        top: -10vh;
    }

    .sp_cat_container {
        position: relative;
        top: 0;
        left: 0;
    }

    .title-heading-events p {
        height: 3vh;
        width: 20vh;
        padding: 1vh 0 3.5vh 0;
    }

    .event-list {
        position: relative;
        left: 0;
        width: 49vh;
    }

    .event-list .sponsor_row {
        margin-bottom: 0;
    }

    .sponsor_row .sponsor_card .sponsor_img img {
        height: 10vh;
        width: 10vh;
    }

    .sponsor_row .sponsor_card .sponsor_text .sponsor_name{
        font-size: 1.5vh;
        margin-top: -8vh;
        font-weight: bold;
    }

    .sp_cat_container_sports {
        position: relative;
        top: 0;
        left: 0;
        width: 49vh;
    }

    .title-heading-events .sponsor_row .sponsor_card .sponsor_text .sponsor_name {
        font-size: 20vh;
    }

    #main .container .footer {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
    
    }

    #main .container .footer .scroll-animation-outer-frame {
        top: 1vh;
    }

    #main .container .footer .bottom {
        top: -200vh;
        width: 49vh;
    }

    #main .container .footer .scroll-animation-inner-frame img {
        height: auto;
        top: 0;
        transform: rotate(-6.5deg);
        width: 21vh;
        position: absolute;
    }

    .img1 {
        left: -7.74vh;
        top: 0.2125vh;
    }

    .img2 {
        left: 14.3476vh;
        top: -16.43vh;
    }

    .img3 {
        left: 39.4349vh;
        top: -8vh;
    }

    #main .container .footer .scroll-animation-inner-frame {
        width: 96%;
        left: 1vh;
    }

    #main .container .footer .scroll-animation-inner-frame .scroll-animation-inner-frame-transparent {
        width: 100%;
    }
  }
